body{
 margin: 0 auto;
 background-image: url("backg.jpg");
 background-repeat: no-repeat;
 background-size: 100% 720px;
 background-attachment: fixed;
}
.bloc_page
{
    margin: auto;
    width:900px;

}
a
{
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 2px 2px;
    margin-top: 0%;
    border-radius: 2rem;
}

input
{
    height: 20px;
}
         
h1
{
    text-align: center;

}

         
.ctrz
{
    border: 10px ridge green;
    border-radius: 20px 20px 20px 20px;
    box-shadow : 6px 6px 12px green;
    position:relative;
    
}

.identifie
{
    position:absolute;
    left:200px;
}
.envoie
{
    color: #fff;
    background-color: #008000;
    height: 40px;
    width: 150px;
}
.liste
{
    display:inline-block;
    margin-right:20px;
}
        
a
{
 font-style: italic;
font-size: x-large;
}

input[type='file']
{
    padding: 20 30;
    color: #fff;
    background-color: #008000;
    border: none;
    font-family: 'Montserrat',sans-serif;
    font-size: 20;
    border-radius: 5px;
}
