body{
 margin: 0 auto;
 background-image: url("backg.jpg");
 background-repeat: no-repeat;
 background-size: 100% 720px;
 background-attachment: fixed;
}

 
.container{
 width: 500px;
 height: 450px;
 text-align: center;
 margin: 0 auto;
 background-color: rgba(44, 62, 80,0.7);
 margin-top: 160px;
}
 
.container img{
 width: 150px;
 height: 150px;
 margin-top: -60px;
}
 
input[type="email"],input[type="password"]{
 margin-top: 30px;
 height: 45px;
 width: 300px;
 font-size: 18px;
 margin-bottom: 20px;
 background-color: #fff;
 padding-left: 40px;
}
 
.form-input{
 content: "\f023";
 font-family: "FontAwesome"; 
 padding-left: 07px;
 padding-top: 40px;
 position: absolute;
 font-size: 35px;
 color: #2980b9; 
}
 
 
.btn-login{
 padding: 15px 25px;
 border: none;
 background-color: #27ae60;
 color: #fff;
}
p
{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: red;
}
